header * {text-align: center; background-color: #05040a; padding: 10px;}
#boton1{background-color: #220054; border: 1px #00fef2 solid; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; width: 150px; border-radius: 10px 0px 0px 10px;}
#boton2{background-color: #220054; border: 1px #00fef2 solid; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; width: 150px; border-radius: 0px}
#boton3{background-color: #220054; border: 1px #00fef2 solid; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; width: 150px; border-radius: 0px 10px 10px 0px;}
#boton1:hover{background-color: #0b0053;}
#boton2:hover{background-color: #0b0053;}
#boton3:hover{background-color: #0b0053;}
#botonVolver{padding: 10px; text-align: center; background-color: #220054; border: 1px #00fef2 solid; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; width: 150px; border-radius: 5px}
#botonVolver:hover{background-color: #0b0053;}