#espacioFondo {
    height: 100%;
    background-image: url("https://i.pinimg.com/originals/61/de/2b/61de2ba956418acd9ab454ceca15bbb2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    margin-top: -25px;
}

#card {
    width: 350px;
    height: 550px;
    background-color: #ffb1fb;
    box-shadow: 0px 0px 50px #dc149d;
    border-radius: 10px;
    border: 4px black solid;
    overflow: hidden;
    margin: 20px;
    text-align: center;
}

#card img {
    width: 100%;
    height: 60%;
    border-bottom: 4px black solid;
}

#card h3 {
    font-size: 20px;
    padding-top: 35px;
    text-align: center;
    color: black;
    font-weight: bolder;
}