#espacioFondo2{
    float: left;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    background-image: url("https://www.todofondos.net/wp-content/uploads/fondo-de-pantalla-de-1536x2732.-fondo-para-movil-de-rick-y-morty-scaled.jpg");
    background-repeat: inherit;
    background-size:cover;
    margin-top: -25px;
}

#carta {
    width: 350px;
    float: left;
    height: 550px;
    background-color: #ffb1fb;
    box-shadow: 0px 0px 50px #dc149d;
    border-radius: 10px;
    border: 4px black solid;
    overflow: hidden;
    margin: 20px;
    text-align: center;
}

#carta img {
    width: 100%;
    height: 60%;
    border-bottom: 4px black solid;
    margin-top: -24px;
}

#carta h3 {
    font-size: 20px;
    padding-top: 25px;
    text-align: center;
    color: black;
    font-weight: bolder;
}

#boton{
    background-color: #e12121;
    color: white;
    margin-top: 35px;
    border-radius: 10px;
    border: 0px;
    padding: 10px;
    font-weight: bolder;
}